.container-bidding {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  margin-bottom: 20px;
}

.container-line {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  padding-bottom: 5px;
}

.column-bidding-contract-authority {
  width: 30%;
}

.column-bidding-reference {
  width: 10%;
}

.column-bidding-pp {
  width: 25%;
}

.column-bidding-ce {
  width: 25%;
}

.column-bidding-created {
  width: 8%;
}

.column-bidding-action {
  width: 2%;
  color: var(--red-color);
  cursor: pointer;
}

.left-column-bidding {
  padding-left: 10px;
}

.both-column-bidding {
  padding-left: 10px;
  padding-right: 10px;
}

.header-row-bidding {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.odd-row {
  background-color: var(--ultra-grey-color-light);
}

.even-row {
  background-color: var(--white-color);
}
