<div class="container-bidding">
  <app-title-body title="List of Biddings" explainTitle="List of biddings for evaluation"/>
  <div>
    <div class="container-line header-row-bidding">
      <div class="column-bidding-contract-authority left-column-bidding">Contract Authority</div>
      <div class="column-bidding-reference both-column-bidding">Reference</div>
      <div class="column-bidding-pp left-column-bidding">Evaluated ?</div>
      <div class="column-bidding-ce both-column-bidding">Evaluated at</div>
      <div class="column-bidding-created both-column-bidding">Created at</div>
      <div class="column-bidding-action"></div>
    </div>
    @for (bidding of arrBidding; track $index) {
      <div class="container-line odd-row">
        <div class="column-bidding-contract-authority left-column-bidding href-link ellipsis" (click)="showBidding(bidding.id)">{{ bidding.contract_authority }}</div>
        <div class="column-bidding-reference left-column-bidding href-link" (click)="showBidding(bidding.id)">{{ bidding.reference }}</div>
        <div class="column-bidding-pp left-column-bidding href-link" (click)="showBidding(bidding.id)">{{ bidding.evaluated | evaluate }}</div>
        <div class="column-bidding-ce left-column-bidding href-link" (click)="showBidding(bidding.id)">{{ bidding.evaluated_at }}</div>
        <div class="column-bidding-created left-column-bidding href-link" (click)="showBidding(bidding.id)">{{ bidding.created_at }}</div>
        <div class="column-bidding-action" (click)="showConfirm()"><i class='bx bx-trash'></i> </div>
      </div>
    }
    <app-upload-file textButton="Upload Concurso" [uploadType]="UploadType.BIDDING"/>
  </div>
</div>

<app-confirm-modal
  #confirmModal
  [title]="'Delete bidding'"
  [message]="'Are you sure you want to delete this bidding?'"
  (confirmed)="handleConfirm()"
  (canceled)="handleCancel()">
</app-confirm-modal>

<app-spinner [loading]="loadingData"/>
