.container-show-bidding {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  margin-bottom: 20px;
}

.container-api {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.box-api {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--ultra-grey-color-light);
  border-radius: 5px;
  background-color: var(--white-color);
  padding: 0.5rem;
}

.box-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon-api {
  color: var(--red-color);
}

.title-api {
  font-size: small;
  font-weight: lighter;
}

.description-api {
  font-size: smaller;
}

.box-title-api {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.title-info-cv {
  margin-left: 1.5rem;
  font-weight: lighter;
  border-bottom: solid 1px var(--ultra-grey-color-light);
  margin-top: 0.5rem;
}

.info-cv {
  margin-left: 2.5rem;
  font-weight: bold;
  font-size: small;
}

.info-criteria-company {
  margin-left: 3.5rem;
  font-weight: bold;
  font-size: small;
  margin-top: 0.5rem;
}

.info-criteria {
  margin-left: 3.5rem;
  font-weight: normal;
  font-size: small;
}

.profile-name {
  margin-top: 1.5rem;
}
