<div class="container-show-bidding">
  <app-title-body title="Bidding" explainTitle="Bidding information"/>
  <div class="container-form">
    <div class="form-box-field">
      <div>Contract Authority</div>
      <div class="width-50">
        <input class="width-100 input-form" type="text" disabled value="{{ contractAuthority }}"/>
      </div>
    </div>
    <div class="form-box-field">
      <div>Reference</div>
      <div class="width-25">
        <input class="width-100 input-form" type="text" disabled value="{{ reference }}"/>
      </div>
    </div>
    <div class="form-box-field">
      <div>Programa de Procedimentos</div>
      <div class="width-33">
        <input class="width-100 input-form" type="text" disabled value="{{ pp }}"/>
      </div>
    </div>
    <div class="form-box-field">
      <div>Caderno de Encargos</div>
      <div class="width-33">
        <input class="width-100 input-form" type="text" disabled value="{{ ce }}"/>
      </div>
    </div>
    <div class="container-button">
      <button class="btn btn-primary" (click)="evaluateBidding()">Analisar Concurso</button>
    </div>
  </div>

  @if (arrFinalResume.length > 0) {
    <app-title-body title="Racional" explainTitle="Descreve o racional para identificar os candidatos"/>
    <div class="container-form">
      <span [innerHTML]="convertRational()"></span>
    </div>

    <app-title-body title="Candidatos"
                    explainTitle="Lista dos candidatos com a melhor pontuação para o perfil exigido"/>
    <div class="container-form">
      @for (finalResume of arrFinalResume; track $index) {
        <li class="profile-name"><strong>{{ finalResume.profile.name }}</strong> -
          <strong>{{ finalResume.candidate.name }}</strong>
          <div class="title-info-cv">Academic Title</div>
          @for (academicTitle of finalResume.resume.academic.title; track $index) {
            <div class="info-cv">{{ academicTitle }}</div>
          }
          <div class="title-info-cv">Certifications</div>
          @for (certification of finalResume.resume.certification.certification; track $index) {
            <div class="info-cv">{{ certification }}</div>
          }

          <div class="title-info-cv">Criterio de Escolha</div>
          @for (criteria of finalResume.resume.criteria; track $index) {
            <div class="info-cv">{{ criteria.criteria }}</div>
            @for (experience of criteria.experiences; track $index) {
              <div class="info-criteria-company">{{ experience.entity }}</div>
              <div class="info-criteria">{{ experience.period }}</div>
              <div class="info-criteria">{{ experience.experience }}</div>
            }
          }
        </li>
      }
    </div>
  }
</div>

<app-confirm-modal
  #confirmModal
  [title]="'Delete bidding'"
  [message]="'Are you sure you want to delete this bidding?'"
  (confirmed)="handleConfirm()"
  (canceled)="handleCancel()">
</app-confirm-modal>

<app-spinner [loading]="loadingData"/>
