.container-title-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: var(--grey-color-light) 1px solid;
  margin-bottom: 10px;
}

.font-title {
  font-size: larger;
}

.font-title-explain {
  font-size: smaller;
  color: var(--grey-color-light);
}
