<div class="container-project">
    <app-title-body title="List of Projects" explainTitle="List of projects to add value to candidate profile"/>
  <div>
    <div class="container-line header-row-project">
      <div class="column-project-name left-column-project">Customer Name</div>
      <div class="column-project-title both-column-project">Project Title</div>
      <div class="column-project-action"></div>
    </div>
    @for (project of arrProject; track $index) {
      <div class="container-line odd-row">
        <div class="column-project-name left-column-project href-link ellipsis" (click)="editProject(project.id)">{{ project.customer_name }}</div>
        <div class="column-project-title left-column-project href-link ellipsis" (click)="editProject(project.id)">{{ project.title }}</div>
        <div class="column-project-action" (click)="showConfirm()"><i class='bx bx-trash'></i> </div>
      </div>
    }
    <div class="container-button">
      <button class="btn btn-primary" (click)="addProject()">Add new curriculum vitae</button>
    </div>
  </div>
</div>

<app-confirm-modal
  #confirmModal
  [title]="'Delete Project'"
  [message]="'Are you sure you want to delete this project?'"
  (confirmed)="handleConfirm()"
  (canceled)="handleCancel()">
</app-confirm-modal>

<app-spinner [loading]="loadingData"/>
