<div class="container-sidebar">
  <div class="container-opt">
    <div class="sidebar-font-opt" (click)="goResume()"><i class='bx bx-poll'></i> Curriculum Vitae</div>
    <div class="sidebar-font-opt" (click)="goBidding()"><i class='bx bx-plug-connect'></i> Concursos</div>
    <div class="sidebar-font-opt" (click)="goProject()"><i class='bx bx-plug-connect'></i> Projetos</div>
  </div>
  <div class="container-opt">
    <div class="sidebar-font-opt" (click)="logout()"><i class='bx bx-arrow-out-down-right-stroke-square'></i>  Logout</div>
  </div>
  <!--  <div class="sidebar-font-sub-opt">Sub Opt 11</div>-->
  <!--  <div class="sidebar-font-sub-opt">Sub Opt 12</div>-->
  <!--  <div class="sidebar-font-sub-opt">Sub Opt 13</div>-->
  <!--  <div class="sidebar-font-sub-opt">Group Opt 2</div>-->

  <!--  <div class="sidebar-font-opt">Opt 2</div>-->
  <!--  <div class="sidebar-font-sub-opt">Sub Opt 21</div>-->
  <!--  <div class="sidebar-font-sub-opt">Sub Opt 22</div>-->
  <!--  <div class="sidebar-font-sub-opt">Sub Opt 23</div>-->
</div>
