.container-resume {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  margin-bottom: 20px;
}

.container-line {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  padding-bottom: 5px;
}

.column-resume-name {
  width: 49%;
}

.column-resume-position {
  width: 49%;
}

.column-resume-action {
  width: 2%;
  color: var(--red-color);
  cursor: pointer;
}

.left-column-resume {
  padding-left: 10px;
}

.both-column-resume {
  padding-left: 10px;
  padding-right: 10px;
}

.header-row-resume {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.odd-row {
  background-color: var(--ultra-grey-color-light);
}

.even-row {
  background-color: var(--white-color);
}
