.container-navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--white-color);
  justify-content: space-between;
  padding: 10px 20px 10px 10px;
  align-items: center;
  box-shadow: 0 0 2px var(--grey-color-light);
  position: fixed;
}

.div-logo {
  padding-top: 10px;
}

.div-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
