/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.boxicons.com/fonts/basic/boxicons.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");


/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --white-color: #fff;
  --blue-color: #4070f4;
  --grey-color: #707070;
  --grey-color-light: #aaa;
  --ultra-grey-color-light: #e8e8e8;
  --red-color: #FF0000;
  --green-color: #1c8f14;
}

.body-default {
  background-color: #e7f2fd;
  transition: all 0.5s ease;
}

.boxicon-size {
  font-size: larger;
}

.div-icon {
  padding-top: 5px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.375rem;
  transition: background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out,
  box-shadow 0.15s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn-primary:hover {
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

.btn-primary:active {
  background-color: #0a58ca;
  border-color: #0a53be;
}

.btn-primary:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
}

/*Not defined bnt-secondary*/
.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  background-color: #5c636a;
  border-color: #565e64;
}

.btn-secondary:active {
  background-color: #5b5d61;
  border-color: #56595c;
}

.btn-secondary:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(95, 96, 97, 0.5);
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.btn-danger:active {
  background-color: #bd2130;
  border-color: #b21f2d;
}

.btn-danger:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.container-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.form-box-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}

.width-25 {
  width: 25%;
}

.width-33 {
  width: 33%;
}

.width-50 {
  width: 50%;
}

.width-75 {
  width: 75%;
}

.width-100 {
  width: 100%;
}

.input-form {
  border-radius: 0.25rem;
  border: solid 1px var(--ultra-grey-color-light);
  padding: 7px 10px;
}

.input-form:focus {
  border: solid 1px var(--grey-color-light);
}

.line-form {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
}

.container-button {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  gap: 10px;
}

.human-message {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.box-human {
  background-color: var(--white-color);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.ai-message {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-bottom: 10rem;

  pre {
    background-color: #f8f7f7;
    padding: 2rem;
    border-radius: 5px;
  }
}

.inline-spinner {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-top: 2px solid #007bff; /* Blue top for visual spin */
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  vertical-align: middle;
  margin-left: 0.5rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.box-error {
  margin-top: 10px !important;
  text-align: left;
  font-size: small;
  color: red;
}

/* Lgin */
/** Login 1 start **/
.login-1 h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Jost', sans-serif;
}

.login-1 {
  top: 0;
  bottom: 0;
  opacity: 1;
  z-index: 999;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  background: #f3f3f3;
}

.login-1:before {
  content: "";
  width: 90px;
  height: 180px;
  position: absolute;
  top: 30px;
  left: 0;
  /*background: url(../img/img-2.png) top left repeat;*/
  background-size: cover;
  z-index: -1;
}

.login-1:after {
  content: "";
  width: 90px;
  height: 180px;
  position: absolute;
  bottom: 30px;
  right: 0;
  /*background: url(../img/img-1.png) top left repeat;*/
  background-size: cover;
  z-index: -1;
}

.login-1 .form-section a{
  text-decoration: none;
}

.login-1 .form-inner {
  max-width: 570px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 60px 80px 30px 80px;
  background: #fff;
  position: relative;
  z-index: 0;
}

.login-1 .form-section .extra-login {
  float: left;
  width: 100%;
  text-align: center;
  position: relative;
  margin: 10px 0 35px!important;
}

.login-1 .form-section .extra-login::before {
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  height: 1px;
  background: #e4e4e4;
  content: "";
}

.login-1 .form-section .extra-login > span {
  width: auto;
  float: none;
  display: inline-block;
  padding: 1px 20px;
  z-index: 1;
  position: relative;
  font-size: 14px;
  color: #3c3c3c;
  text-transform: capitalize;
  background: #fff;
}

.login-1 .form-section p {
  color: #3c3c3c;
  margin-bottom: 0;
  font-size: 16px;
}

.login-1 .form-section p a {
  color: #3c3c3c;
}

.login-1 .form-section ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
}

.login-1 .form-section .thembo {
  margin-left: 4px;
}

.login-1 .form-section h3 {
  margin: 0 0 35px;
  font-size: 22px;
  font-weight: 500;
  color: #111111;
  text-transform: uppercase;
}

.login-1 .form-section .form-group {
  margin-bottom: 25px;
}

.login-1 .form-section .form-box {
  float: left;
  width: 100%;
  text-align: left;
  position: relative;
}

.login-1 .form-section .checkbox{
  margin: 10px 0 35px;
}

.login-1 .form-section .form-control {
  padding: 14.5px 0;
  font-size: 16px;
  outline: none;
  background: transparent!important;
  color: #3c3c3c;
  font-weight: 500;
  border-radius: 0;
  border: none;
  border-bottom: solid 2px #bdbdbd;
}

.login-1 .form-section .form-box i {
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 23px;
  color: #777575;
}

.login-1 .form-section .checkbox .terms {
  margin-left: 3px;
}

.login-1 .form-section .terms {
  margin-left: 3px;
}

.login-1 .form-section .form-check {
  float: left;
  margin-bottom: 0;
  padding-left: 25px;
  font-size: 16px;
  color: #3c3c3c;
}

.login-1 .form-section .form-check .form-check-input {
  margin-left: -25px;
}

.login-1 .form-section .form-check a {
  color: #3c3c3c;
}

.login-1 .form-check-input:focus {
  box-shadow: none;
}

.login-1 .form-check-input:checked {
  background-color: #1c5fda;
  border-color: #1c5fda!important;
}

.login-1 .form-section .form-check-input {
  width: 20px;
  height: 20px;
  margin-top: 0;
  vertical-align: top;
  position: absolute;
  border: 2px solid #c5c3c3;
  border-radius: 0;
  top: 2px;
}

.login-1 .form-section a.forgot-password {
  font-size: 16px;
  color: #3c3c3c;
}

.login-1 .logo img {
  margin-bottom: 15px;
  height: 35px;
}

.login-1 .btn-theme {
  position: relative;
  display: inline-block;
  width: 100%;
  color: #ffffff;
  overflow: hidden;
  overflow: hidden;
  text-transform: capitalize;
  display: inline-block;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  cursor: pointer;
  font-size: 17px;
  font-weight: 400;
  font-family: 'Jost', sans-serif;
  border-radius: 3px;
  border: none;
}

.login-1 .btn-theme:hover {
  color: #fff;
}

.login-1 .btn-theme:hover::before {
  left: 0%;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.login-1 .btn-theme:before {
  position: absolute;
  content: '';
  left: 96%;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  transform: skewX(-25deg);
}

.login-1 .btn-theme span {
  position: relative;
  z-index: 1;
}

.login-1 .btn-check:focus+.btn, .btn:focus {
  outline: 0;
  box-shadow: none;
}

.login-1 .btn-lg{
  padding: 0 50px;
  line-height: 55px;
}

.login-1 .btn-md{
  padding: 0 45px;
  line-height: 50px;
}

.login-1 .btn{
  box-shadow: none!important;
}

.login-1 .btn-primary {
  background: #1c5fda;
}

.login-1 .btn-theme:before {
  background: #1658d1;
}

.login-1 .form-section ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
}

.login-1 .mb-35{
  margin-bottom: 35px!important;
}

/** Social list **/
.login-1 .social-list{
  margin-bottom: 30px;
}

.login-1 .social-list .buttons {
  display: flex;
  justify-content: center;
}

.login-1 .social-list a {
  color: #fff;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin:0 3px 5px;
  font-size: 20px;
  overflow: hidden;
  position: relative;
  transition: transform 0.2s linear 0s, border-radius 0.2s linear 0.2s;
}

.login-1 .social-list a i {
  transition: transform 0.2s linear 0s;
  position: relative;
  z-index: 3;
}

.login-1 .social-list a:hover {
  transform: rotate(-90deg);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.login-1 .social-list a:hover i {
  transform: rotate(90deg);
}

.login-1 .social-list a.facebook-bg {
  background: #4867aa;
}

.login-1 .social-list a.twitter-bg {
  background: #33CCFF;
}

.login-1 .social-list a.google-bg {
  background: #db4437;
}

.login-1 .social-list a.dribbble-bg {
  background: #2392e0;
}

/** MEDIA **/
@media (max-width: 992px) {
  .login-1 .form-inner {
    padding: 50px;
  }
}

@media (max-width: 768px) {
  .login-1 .form-inner {
    padding: 40px 30px;
  }
}

.href-link {
  cursor: pointer;
}

.href-link:hover {
  color: var(--blue-color);
}

.ellipsis {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
