.container-input-search {
  display: flex;
  flex-direction: row;
  border: #aaaaaa 1px solid;
  padding: 5px 15px 5px 10px;
  border-radius: 30px;
  width: 300px;
}

.div-search-icon {
  align-content: center;
  padding-top: 3px;
  padding-right: 5px;
}

.div-input {
  width: 100%;

  input {
    border: none;
    outline: none;
    width: 100%;
  }
}
